.block {
}
.block-header {
		top: 0;
		position: sticky;
		display: flex;
		z-index: 1;

		background: #eeeeee;
		color: #000000;
		height: 30px;
		border: 1px solid black;
}

.block-date-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-right: 1px solid black;
		width: 135px;
		padding-left: 5px;
}

.block-date {
		line-height: 30px;
		font-size: 20px;
		text-align: right;
		padding-right: 5px;
		font-family: ui-monospace;
		margin-left: 5px;
}
.block-date.icon {
}

.event-list .event:not(:last-child) {
		border-bottom: 1px solid #bbb;
}
