/* ########## */
/*   custom   */
/* ########## */

#test {
  /* [> display: flex; <] */
  /* [> justify-content: space-around; <] */
  /* [> align-items: flex-start; <] */
  border: 2px dashed rgba(114, 186, 94, 0.35);
  height: 400px;
  background: rgba(114, 186, 94, 0.05);
}

.stick {
  position: sticky;
  top: 0;
  width: 40px;
  height: 40px;
  border: 2px solid blue;
}
.non-stick {
  position: sticky;
  top: 0;
  width: 40px;
  height: 40px;
  border: 2px solid red;
}

/* #events { */
  /* width: 40px; */
  /* height: 40px; */
  /* padding: 10px; */
/* } */

/* ########### */
/*   default   */
/* ########### */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
